html, body {
  margin: 20px;
  font-family: "Open Sans";
  font-weight: 300;
}

h1, h2, h3 {
  font-family: Merriweather;
}

.infinite-scroll-container {
  width: 300px;
  height: 1000px;
  overflow: scroll;
}

.container {
  width: 80%;
  margin: auto;
}

.container-body-text {
  font-size: 12px;
}

.main-content {
  width: 60%;
  float: left;
}

.side-content {
  width: 30%;
  margin-left: 10%;
  display: inline-block;
}

img {
  max-width: 100%;
}