<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-brand">Daily News</div>
      <div class="ul nav navbar-nav navbar-right">
          <li>
              <a href="https://github.com/Vestorly/ember-cli-infinite-scroll">
                  ember-cli-infinite-scroll on github
              </a>
          </li>
      </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
